<header class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          <li class="masthead__menu-item"><a href="{{ "/about/" | relative_url }}">About</a></li>
          <li class="masthead__menu-item"><a href="{{ "/publications/" | relative_url }}">Publications</a></li>
          <li class="masthead__menu-item"><a href="{{ "/teaching/" | relative_url }}">Teaching</a></li>
          <li class="masthead__menu-item"><a href="{{ "/portfolio/" | relative_url }}">Portfolio</a></li>
          <li class="masthead__menu-item"><a href="{{ "/talks/" | relative_url }}">Talks</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>